@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url : String.Empty;
}
<section class="section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border"
         style="background-image: url('@backgroundImage')">
    <div class="section__hero-content">
        <h1>@Model.HeroHeader</h1>
        <p class="section__description">@Model.HeroDescription</p>
        @if (Model.HeroCtalink != null)
        {
            <a class="button button--border--solid" href="@Model.HeroCtalink.Url">
                @Model.HeroCtacaption
            </a>
        }
    </div>
</section>


  
   <div class="container" style="margin-top:100px;">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="image/hand.jpg" alt="Generic placeholder image" width="250" height="250">
                    <h2>Cure in Hand Points</h2>
                    <p>There are said to be 107 marma points on the body, each serving a particular purpose, and each with its own name and specific way of massaging it. Different oils are used depending upon each person's Ayurvedic dosha type. Marma points are measured in anguli or 'finger units'.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="image/HomeItem.jpg" alt="Generic placeholder image" width="250" height="250">
                    <h2>Ayurvedic Products</h2>
                    <p>Ayurveda is based on the belief that health and wellness depend on a delicate balance between the mind, body, and spirit. Its main goal is to promote good health, not fight disease. But treatments may be geared toward specific health problems.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="image/Three_dosas.png" alt="Generic placeholder image" width="250" height="250">
                    <h2>Three Doshas</h2>
                    <p>The human body and mind are intricately connected in such a way that the mind has the power to heal and transform the body. Incorrect diets are believed to be behind seventy percent of ailments while the remaining causes include lifestyle, negative emotions and thoughts, hereditary or genetic issues and energy imbalances. Ayurvedic treatments are aimed at revealing the deeper and primary causes of an individual’s health conditions. At birth, every human being is blessed with a unique proportion of the three doshas or biologic principles namely - vata, pitta, kapha.</p>
                    <p><a class="btn btn-secondary" href="/three-doshas" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

               <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="image/Herbal Nutrition.jpg" alt="Generic placeholder image" width="250" height="250">
                    <h2>Herbal Nutrition</h2>
                    <p>Specific adjustments for individual requirements may need to be made, e.g., food allergies, strength of agni, seas on of the year and degree of dosha predominance or aggravation..</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="image/tounge.jpg" alt="Generic placeholder image" width="250" height="250">
                    <h2>Tongue Disease</h2>
                    <p>According to Ayurveda the tongue is not just an organ of taste only but also a strong tool for diagnosis. Tongue analysis is a part of Ayurvedic diagnosis complementary with pulse, nails, eye, face etc. Tongue is also called a window of the inner system. Ayurveda says, read your tongue and know your health status.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="image/Healthy LifeStyle.jpg" alt="Generic placeholder image" width="250" height="250">
                    <h2>Healthy Life Style</h2>
                    <p>The good habits that add health to your years according to Ayurveda include eating three balanced meals at the same time daily. Lunch should be the heaviest meal and dinner lightest and about 3 hours prior to your bedtime. Some form of moderate exercise daily is a must as is meditation.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


              <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="image/Saffron.jpg" height="250" width="100%" alt="Herbal Fluid">
                                <div class="card-body">
                                    <p class="card-text">Saffron is a spice derived from the flowers of the saffron crocus (Crocus sativus), also known as kumkum and kesar. Saffron milk is popularly known as kesar milk. It reduces all the vitiated doshas as it is tridoshahara (balance all three doshas).It improves skin tone and complexion. It has anti-inflammatory properties & anti-microbial properties. It improves vision & acts as a brain tonic.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="image/CinnamonRaw.jpg" height="250" width="100%" alt="Cinnamon">
                                <div class="card-body">
                                    <p class="card-text">A warming spice with sweet, pungent, and bitter flavors, cinnamon is excellent at revving up the digestion. Because of its warming properties, it's pacifying for Kapha and good for balancing Vata as well. In Ayurveda, cinnamon is used in a variety of different ways to balance digestion and pacify the stomach, helps Clear Respiratory Passages & promotes Healthy Circulation & Joints.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="image/Cardamom.jpg" height="250" width="100%" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">Cardamom is a mouth freshener, a breath freshener & also an antiemetic (relieves vomiting sensation). It is helpful in relieving excessive thirst & in problems related to loss of taste. It improves digestive strength.Tridosha hara (balances all three dosha). Due to its guna (qualities) and rasa (taste), it balances Kapha dosha. Due to its vipaka (taste conversion after digestion), it balances Vata dosha. Due to its virya (potency), it balances Pitta dosha.</p>
                                    <p class="card-text">Special to Indian taste buds, cardamom is not only unique to our land but also to our senses. The addition of this fragrant spice can add layers of taste to your tea, food and overall dining experience. Cardamom, along with being a multi-purpose spice used in curries, breads, rice and liquid preparations, also brings with it many health benefits.</p>
                                    
                                    
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

             
           <div class="row">
                <div class="col-lg-4" style="font-size:12px;text-align:center;">
                   <a href="https://www.kamaayurveda.com/ingredient/aloevera" style="text-decoration: none;"> 
                    <img  src="https://d92wz7swverjf.cloudfront.net/pub/media/solveda_ingredient/ingredient/image/k/a/kama_ingredients_updated_600x400_0108_aloe_vera.jpg"  alt="Generic placeholder image" width="250" height="250" >
                    <h2 style="text-align:center;">Aloevera</h2>
                    </a>
                    </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a  href="https://www.kamaayurveda.com/ingredient/amla">
                    <img class="rounded-circle" src="https://d92wz7swverjf.cloudfront.net/pub/media/solveda_ingredient/ingredient/image/k/a/kama_ingredients_ashwagandha_600x400_updated_second.jpg" alt="Generic placeholder image" width="250" height="250">
                    <h2>Ashwagandha</h2>
                    </a>
                    </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a  href="https://www.kamaayurveda.com/ingredient/baelfruit">
                    <img class="rounded-circle" src="https://d92wz7swverjf.cloudfront.net/pub/media/solveda_ingredient/ingredient/image/k/a/kama_ingredients_updated_600x400_0106_bael_fruit.jpg" alt="Generic placeholder image" width="250" height="250">
                    <h2>Bael</h2>
                    </a>
                    </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->  
             
             
          

            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">HEALTHY LIFE STYLE</h2>
                    <p class="lead">The good habits that add health to your years according to Ayurveda include eating three balanced meals at the same time daily. Lunch should be the heaviest meal and dinner lightest and about 3 hours prior to your bedtime. Some form of moderate exercise daily is a must as is meditation.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="image/Healthy LifeStyle.jpg" height="300" width="100%" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="image/Nutrition.jpg" height="300" width="100%" alt="Generic placeholder image">
                </div>
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Ayurvedic Nutrition</h2>
                    <p class="lead">Nutrition plays a central role in Ayurvedic living. Ayurveda places special emphasis on "Ahara" (diet) and "Anna" (food) as a means to good life, health and wellness. Healthy and wholesome food nourishes the mind, body and soul.</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Seven Sacred Centers</h2>
                    <p class="lead">The seven chakra system has become reified in yogic culture; the seven chakras system is the “standard” system with which most students and teachers of yoga are familiar with. Many students and teachers of yoga may also have some familiarity with Ayurveda, the “Science of Life.” Ayurveda is a system of earth-based holistic medicine that was originally developed in ancient India but has evolved for contemporary application. Ayurveda uses three archetypal categories to understand balance in the body. These categories are Vata, Pitta, and Kapha. Vata is like air and ether. It is light, dry, and cold, and responsible for everything in the body that moves, communicates, and transports. Pitta is like fire. It is hot and slightly damp. Pitta is responsible for digestion, metabolism, and transformation in the body. Finally, Kapha is similar to earth and water. It is slow and stable. Wet and cold. Kapha is responsible for our stability, immunity, and strength.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="image/Seven Chakras.jpg" height="300" width="100%" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->  
    
    
    
</section>

<section class="section section--themed">

    <div class="container">
        <div class="row">

            <div class="ta-center">
                <h2>@Model.FooterHeader</h2>
                <p class="section__description mw-640 ma-h-auto">@Model.FooterDescription</p>

                <a class="button button--border--light_solid" href="@Model.FooterCtalink.Url">
                    @Model.FooterCtacaption
                </a>

            </div>

        </div>
    </div>

</section>